{{#contentFor "title"}}
    Kandidat*innen - {{config.site.localization.title}}
{{/contentFor}}

{{#contentFor "heading"}}
    <div class="site-heading">
        <h1>Kandidat&shy;*innen</h1>
        <h4>{{selectedElection.name}}</h4>
    </div>
{{/contentFor}}

{{#if elections}}
<div class="row">
    <div class="col-sm-12">
        <ul class="nav nav-pills nav-justified">
            {{#each elections}}
                {{#equals this.name ../selectedElection.name}}
                    <li class="nav-item ml-1 mr-1 mt-1 mb-1">
                        <a class="nav-link border shadow active" href="/kandidat-innen/{{slug ../this.name}}">
                            {{../this.name}}
                        </a>
                    </li>
                {{else}}
                    <li class="nav-item ml-1 mr-1 mt-1 mb-1">
                        <a class="nav-link border shadow-sm" href="/kandidat-innen/{{slug ../this.name}}">
                            {{../this.name}}
                        </a>
                    </li>
                {{/equals}}
            {{/each}}
        </ul>
    </div>
</div>
{{/if}}

<div class="row mt-3">
    <div class="col-sm-12 text-center">
        <ul class="nav justify-content-center">
            {{#each selectedElection.constituencies}}
                {{#contains ../profiles "constituency" this.id}}
                    <li class="nav-item">
                        <a class="nav-link scroll-link" href="#{{slug ../this.name}}">
                            {{../this.name}}
                        </a>
                    </li>
                {{/contains}}
            {{/each}}
        </ul>
    </div>
</div>

{{#each selectedElection.constituencies}}
    {{#contains ../profiles "constituency" this.id}}
        <div class="row justify-content-sm-center mt-5">
            <div class="col-sm-12">
                <h1 id="{{slug ../this.name}}">
                    {{electorateNamePrefix ../this.name}}
                </h1>
                <p class="text-muted mt-0">{{../this.description}}</p>
            </div>
        </div>
        <div class="row justify-content-sm-center">
            <div class="col-sm-12">
                <div class="row">
                    {{#each ../../profiles}}
                        {{#equals this.constituency ../../this.id}}
                            <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
                                <div class="card h-100 border-0 shadow">
                                    <a href="/kandidat-innen/{{slug ../../../../selectedElection.name}}/{{slug ../../../this.name}}/{{../this.id}}">
                                        <img src="/kandidat-innen/{{slug ../../../../selectedElection.name}}/{{slug ../../../this.name}}/{{../this.id}}.jpeg" class="card-img-top">
                                    </a>
                                    <div class="card-body">
                                        <h3 class="card-title">
                                            <a href="/kandidat-innen/{{slug ../../../../selectedElection.name}}/{{slug ../../../this.name}}/{{../this.id}}">
                                                    {{../this.title}} {{../this.forename}} {{../this.surname}}
                                            </a>
                                        </h3>
                                        <h6 class="card-title text-muted">
                                            Listenplatz {{../this.position}}
                                        </h6>
                                        <p class="card-text">
                                            {{../this.headline}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        {{/equals}}
                    {{/each}}
                </div>
            </div>
        </div>
    {{/contains}}
{{/each}}
