{{#contentFor "title"}}
    Bearbeiten - {{config.site.localization.title}}
{{/contentFor}}

{{#contentFor "heading"}}
    <div class="site-heading" style="padding: 100px 0 50px;">
        <h1>Bearbeiten</h1>
    </div>
{{/contentFor}}

<p>Wähle ein Profil zur Bearbeitung aus:</p>
<ul>
{{#each candidacies}}
    <li><a href="/bearbeiten/{{slug this.electionName}}">{{this.electionName}} / {{electorateNamePrefix this.constituencyName}} / Listenplatz {{this.position}}</a></li>
{{/each}}
</ul>
