{{#contentFor "title"}}
    Bearbeiten - {{config.site.localization.title}}
{{/contentFor}}

{{#contentFor "stylesheets"}}
    <link rel="stylesheet" href="/css/formio-3.12.3.full.min.css">
    <link rel="stylesheet" href="/css/cropper-1.5.1.min.css">
{{/contentFor}}

{{#contentFor "heading"}}
    <div class="site-heading" style="padding: 100px 0 50px;">
        <h1>Bearbeiten</h1>
        <h4>
            {{candidacy.electionName}} / {{electorateNamePrefix candidacy.constituencyName}} / Listenplatz {{candidacy.position}}
        </h4>
    </div>
{{/contentFor}}

{{#contentFor "scripts"}}
    <script src="/js/formio-3.12.3.full.min.js"></script>
    <script src="/js/bs-custom-file-input-1.3.1.min.js"></script>
    <script src="/js/cropper-1.5.1.min.js"></script>
    <script src="/js/jquery-cropper-1.0.0.min.js"></script>
    <script type="text/javascript">
        var formData = {{{form}}};
        var profileData;
        {{#if profileData}}
            profileData = {{{profileData}}};
        {{/if}}
        var sluggedElectionName = "{{slug candidacy.electionName}}";
    </script>
    <script src="/js/custom-edit.js"></script>
{{/contentFor}}

<div class="row justify-content-sm-center">
    <div class="col-sm-12">
        <div id="formio"></div>
        <p id="upload-success" style="display: none;">
            <span class="green fa fa-check"></span> Erfolgreich. <a href="/kandidat-innen/{{slug candidacy.electionName}}/{{slug candidacy.constituencyName}}/{{username}}">Hier</a> geht es zu deinem Profil.
        </p>
        <p id="upload-error" style="display: none;">
            <span class="magenta fa fa-times"></span> Ups, wir haben einen Fehler gemacht. Bitte versuche es noch einmal!
        </p>
        <p id="upload-incomplete" style="display: none;">
            <span class="dark-yellow fa fa-info"></span> Unvollständig. Bitte überprüfe deine Eingabe.
        </p>
        <div id="profileImage" class="form-group">
            <label class="control-label field-required">Profilbild</label>
            <div class="custom-file">
                <input type="file" name="profileImage" class="custom-file-input form-control" id="profileImageInput" accept=".jpg,.png,.jpeg" required>
                <label class="custom-file-label" for="profileImageInput"></label>
            </div>
            <div class="help-block">
                Wird in der Kandidat*innenübersicht und in deiner Profilansicht angezeigt.
            </div>
            <div class="formio-errors invalid-feedback">
                <p class="help-block">Erforderlich.</p>
            </div>
            <div id="profileImageCrop" class="mt-1" style="display: none;">
                <div class="mb-1" style="height: 300px; width: 300px;">
                    <img style="max-width: 100%; max-heigth: 100%;" id="profileImageCropElement">
                </div>
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-1" role="group" aria-label="Zoomen">
                        <button type="button" id="zoomIn" class="btn btn-primary btn-sm">
                            <span class="fa fa-plus"></span>
                        </button>
                        <button type="button" id="zoomOut" class="btn btn-primary btn-sm">
                            <span class="fa fa-minus"></span>
                        </button>
                    </div>
                    <div class="btn-group mr-1" role="group" aria-label="Verschieben">
                        <button type="button" id="moveLeft" class="btn btn-primary btn-sm">
                            <span class="fa fa-arrow-left"></span>
                        </button>
                        <button type="button" id="moveRight" class="btn btn-primary btn-sm">
                            <span class="fa fa-arrow-right"></span>
                        </button>
                        <button type="button" id="moveUp" class="btn btn-primary btn-sm">
                            <span class="fa fa-arrow-up"></span>
                        </button>
                        <button type="button" id="moveDown" class="btn btn-primary btn-sm">
                            <span class="fa fa-arrow-down"></span>
                        </button>
                    </div>
                    <div class="btn-group" role="group" aria-label="Drehen">
                        <button type="button" id="rotateRight" class="btn btn-primary btn-sm">
                            <span class="fa fa-rotate-right"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
