{{#contentFor "title"}}
    {{{config.site.localization.title}}}
{{/contentFor}}

{{#contentFor "heading"}}
    <div class="site-heading">
        <h1>{{{config.site.localization.title}}}</h1>
        {{#if config.site.localization.pages.index.subtitle}}
            <h4>{{config.site.localization.pages.index.subtitle}}</h4>
        {{/if}}
    </div>
{{/contentFor}}

<div class="row justify-content-sm-center">
    {{#if config.site.localization.pages.index.supportLink}}
        <div class="col-12 col-lg-4 mb-5">
    {{else}}
        <div class="col-12 col-lg-6 mb-5">
    {{/if}}
            <a class="dark-green" href="/kandidat-innen">
                <div class="jumbotron text-center p-5 mb-0 h-100 shadow">
                    <span class="fa fa-users fa-5x"></span>
                    <h3 class="mt-4">
                        Kandidat&shy;*innen
                    </h3>
                </div>
            </a>
        </div>
    {{#if config.site.localization.pages.index.supportLink}}
        <div class="col-12 col-lg-4 mb-5">
    {{else}}
        <div class="col-12 col-lg-6 mb-5">
    {{/if}}
            <a class="dark-green" href="/wahlprogramm">
                <div class="jumbotron text-center p-5 mb-0 h-100 shadow">
                    <span class="fa fa-book fa-5x"></span>
                    <h3 class="mt-4">
                        Wahl&shy;programm
                    </h3>
                </div>
            </a>
        </div>
    {{#if config.site.localization.pages.index.supportLink}}
        <div class="col-12 col-lg-4 mb-5">
            <a class="dark-green" href="{{config.site.localization.pages.index.supportLink.url}}" target="_blank">
                <div class="jumbotron text-center p-5 mb-0 h-100 shadow">
                    <span class="fa fa-heart fa-5x"></span>
                    <h3 class="mt-4">
                        {{{config.site.localization.pages.index.supportLink.text}}}
                    </h3>
                </div>
            </a>
        </div>
    {{/if}}
</div>

{{#if config.site.localization.pages.index.forwardLink}}
    <div class="row justify-content-sm-center">
        <div class="col-sm-12">
            <a class="btn btn-primary btn-block" href="{{config.site.localization.pages.index.forwardLink.url}}">
                {{{config.site.localization.pages.index.forwardLink.text}}}
            </a>
        </div>
    </div>
{{/if}}
