{{#contentFor "title"}}
    Anmelden - {{config.site.localization.title}}
{{/contentFor}}

{{#contentFor "heading"}}
    <div class="site-heading" style="padding: 100px 0 50px;">
        <h1>Anmelden</h1>
    </div>
{{/contentFor}}

<div class="row justify-content-sm-center">
    <div class="col-sm-4">
        {{#if message}}
            <div class="alert alert-danger" role="alert">
                {{message}}
            </div>
        {{/if}}
        <form class="form-signin" action="/anmelden" method="post">
            <label for="username" class="sr-only">Name</label>
            <input type="text" id="username" name="username" class="form-control rounded-bottom-0" placeholder="Name" required autofocus>
            <label for="inputPassword" class="sr-only">Passwort</label>
            <input type="password" id="password" name="password" class="form-control rounded-top-0" placeholder="Passwort" required>
            <input class="btn btn-primary btn-block mt-5" type="submit" value="Anmelden">
        </form>
    </div>
</div>
