{{#contentFor "title"}}
    {{{config.site.localization.pages.manifesto.title}}} - {{config.site.localization.title}}
{{/contentFor}}

{{#contentFor "heading"}}
    <div class="site-heading">
        <h1>{{{config.site.localization.pages.manifesto.title}}}</h1>
    </div>
{{/contentFor}}

{{{config.site.localization.pages.manifesto.html}}}
