{{#contentFor "title"}}
    {{profile.title}} {{profile.forename}} {{profile.surname}} - {{config.site.localization.title}}
{{/contentFor}}

{{#contentFor "structuredData"}}
    <meta property="og:title" content="{{profile.title}} {{profile.forename}} {{profile.surname}}"/>
    <meta property="og:description" content="{{profile.headline}}"/>
    <meta property="og:url" content="/kandidat-innen/{{slug electionName}}/{{slug constituencyName}}/{{profile.id}}"/>
    <meta property="og:image" content="/kandidat-innen/{{slug electionName}}/{{slug constituencyName}}/{{profile.id}}.jpeg"/>
    <meta property="og:site_name" content="{{profile.title}} {{profile.forename}} {{profile.surname}} - {{config.site.localization.title}}"/>
    <script type="application/ld+json">
        {
            "@context": "http://schema.org/",
            "@type": "Person",
            "name": "{{profile.title}} {{profile.forename}} {{profile.surname}}",
            "image": "/kandidat-innen/{{slug electionName}}/{{slug constituencyName}}/{{profile.id}}.jpeg",
            "description": "{{profile.headline}}"
        }
    </script>
{{/contentFor}}

{{#contentFor "stylesheets"}}
    <link rel="stylesheet" href="/css/shariff-3.1.1.min.css">
{{/contentFor}}

{{#contentFor "heading"}}
    <div class="page-heading">
        <h1>{{profile.title}} {{profile.forename}} {{profile.surname}}</h1>
        <h4>{{electionName}} / {{electorateNamePrefix constituencyName}} / Listenplatz {{profile.position}}</h4>
    </div>
{{/contentFor}}

{{#contentFor "scripts"}}
    <script src="/js/shariff-3.1.1.min.js"></script>
{{/contentFor}}

<div class="row justify-content-sm-center">
    <div class="col-sm-4 text-center">
        <img src="/kandidat-innen/{{slug electionName}}/{{slug constituencyName}}/{{profile.id}}.jpeg" class="rounded-circle img-fluid border-0 shadow"/>
        <blockquote class="blockquote">
            <p>
                {{profile.headline}}
            </p>
        </blockquote>

        <div style="margin: 20px 0;">
            <div class="shariff" data-services="twitter facebook whatsapp"></div>
        </div>

        <div>
            <ul class="list-group list-group-flush">
                {{#if profile.age}}
                    <li class="list-group-item">
                        <strong>Alter:</strong> {{profile.age}}
                    </li>
                {{/if}}
                {{#if profile.personalStatus}}
                    <li class="list-group-item">
                        <strong>Familienstand:</strong> {{profile.personalStatus}}
                    </li>
                {{/if}}
                {{#if profile.children}}
                    <li class="list-group-item">
                        <strong>Kinder:</strong> {{profile.children}}
                    </li>
                {{/if}}
                {{#if profile.qualification}}
                    <li class="list-group-item">
                        <strong>Ausbildung:</strong> {{profile.qualification}}
                    </li>
                {{/if}}
                {{#if profile.job}}
                    <li class="list-group-item">
                        <strong>Beruf:</strong> {{profile.job}}
                    </li>
                {{/if}}
                {{#if profile.confession}}
                    <li class="list-group-item">
                        <strong>Konfession:</strong> {{profile.confession}}
                    </li>
                {{/if}}
                {{#if profile.memberSince}}
                    <li class="list-group-item">
                        <strong>Grünes Mitglied seit:</strong> {{profile.memberSince}}
                    </li>
                {{/if}}
                {{#if profile.favoritePlace}}
                    <li class="list-group-item">
                        <strong>Lieblingsort:</strong> {{profile.favoritePlace}}
                    </li>
                {{/if}}
                {{#if profile.funFact}}
                    <li class="list-group-item">
                        <strong>Verrücktes:</strong> {{profile.funFact}}
                    </li>
                {{/if}}
            </ul>
        </div>

        <div style="margin: 30px 0;">
            <ul class="list-inline">
                {{#if profile.website}}
                    <li class="list-inline-item">
                        <a href="{{profile.website}}" target="_blank">
                            <i class="fa fa-2x fa-link"></i>
                        </a>
                    </li>
                {{else if config.site.localization.pages.profile.websiteUrl }}
                    <li class="list-inline-item">
                        <a href="{{config.site.localization.pages.profile.websiteUrl}}" target="_blank">
                            <i class="fa fa-2x fa-link"></i>
                        </a>
                    </li>
                {{/if}}

                {{#if profile.facebook}}
                    <li class="list-inline-item">
                        <a href="{{profile.facebook}}" target="_blank">
                            <i class="fa fa-2x fa-facebook"></i>
                        </a>
                    </li>
                {{else if config.site.localization.pages.profile.facebookUrl }}
                    <li class="list-inline-item">
                        <a href="{{config.site.localization.pages.profile.facebookUrl}}" target="_blank">
                            <i class="fa fa-2x fa-facebook"></i>
                        </a>
                    </li>
                {{/if}}

                {{#if profile.twitter}}
                    <li class="list-inline-item">
                        <a href="{{profile.twitter}}" target="_blank">
                            <i class="fa fa-2x fa-twitter"></i>
                        </a>
                    </li>
                {{else if config.site.localization.pages.profile.twitterUrl }}
                    <li class="list-inline-item">
                        <a href="{{config.site.localization.pages.profile.twitterUrl}}" target="_blank">
                            <i class="fa fa-2x fa-twitter"></i>
                        </a>
                    </li>
                {{/if}}

                {{#if profile.instagram}}
                    <li class="list-inline-item">
                        <a href="{{profile.instagram}}" target="_blank">
                            <i class="fa fa-2x fa-instagram"></i>
                        </a>
                    </li>
                {{else if config.site.localization.pages.profile.instagramUrl }}
                    <li class="list-inline-item">
                        <a href="{{config.site.localization.pages.profile.instagramUrl}}" target="_blank">
                            <i class="fa fa-2x fa-instagram"></i>
                        </a>
                    </li>
                {{/if}}

                {{#if profile.email}}
                    <li class="list-inline-item">
                        <a href="mailto:{{profile.email}}">
                            <i class="fa fa-2x fa-at"></i>
                        </a>
                    </li>
                {{else if config.site.localization.pages.profile.email }}
                    <li class="list-inline-item">
                        <a href="mailto:{{config.site.localization.pages.profile.email}}">
                            <i class="fa fa-2x fa-at"></i>
                        </a>
                    </li>
                {{/if}}

                {{#if profile.telephone}}
                    <li class="list-inline-item">
                        <a href="tel:{{profile.telephone}}">
                            <i class="fa fa-2x fa-phone"></i>
                        </a>
                    </li>
                {{else if config.site.localization.pages.profile.telephone }}
                    <li class="list-inline-item">
                        <a href="tel:{{config.site.localization.pages.profile.telephone}}">
                            <i class="fa fa-2x fa-phone"></i>
                        </a>
                    </li>
                {{/if}}
            </ul>
        </div>
    </div>

    <div class="col-sm-8">
        {{#if profile.speech}}
            <h5>Meine Vorhaben</h5>
            <p class="preline">{{profile.speech}}</p>
        {{/if}}
        {{#if profile.youtubeLink}}
            <div class="text-center">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="{{youtubeEmbedded profile.youtubeLink}}" allowfullscreen></iframe>
                </div>
                <p class="mt-0">
                    {{profile.youtubeCaption}}
                </p>
            </div>
        {{/if}}

        {{#if profile.activities.0.from}}
            <h5 class="mt-5">Meine Tätigkeiten</h5>
            <div class="table-responsive">
                <table class="table table-hover">
                    <tbody>
                        {{#each profile.activities}}
                            {{#if this.from}}
                                <tr>
                                    <td>{{this.from}}-{{this.to}}</td>
                                    <td>{{this.description}} (<a href="{{this.link}}" target="_blank">Link</a>)</td>
                                </tr>
                            {{/if}}
                        {{/each}}
                    </tbody>
                </table>
            </div>
        {{/if}}

        {{#if profile.memberships.0.from}}
            <h5 class="mt-5">Meine Mitgliedschaften</h5>
            <div class="table-responsive">
                <table class="table table-hover">
                    <tbody>
                        {{#each profile.memberships}}
                            {{#if this.from}}
                                <tr>
                                    <td>{{this.from}}-{{this.to}}</td>
                                    <td>{{this.description}} (<a href="{{this.link}}" target="_blank">Link</a>)</td>
                                </tr>
                            {{/if}}
                        {{/each}}
                    </tbody>
                </table>
            </div>
        {{/if}}

        {{{supportersHtml}}}
    </div>
</div>

<div class="row justify-content-sm-center mt-5 d-none d-sm-block">
    <div class="col-sm-12 banner">
        <div class="row align-items-center pl-3 pr-3 pt-1 pb-1">
            <div class="col-sm-10">
                <h1>{{config.site.localization.title}}</h1>
            </div>
            <div class="col-sm-2">
                <img src="/img/sunflower_greens.png" class="float-right" width="100" height="100"/>
            </div>
        </div>
    </div>
</div>
