<!doctype html>
<html>

    <head>
        <title>{{{block "title"}}}</title>
        <meta charset="utf-8">
        <meta http-equiv="content-language" content="de-DE" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {{{block "structuredData"}}}
        <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
        <link rel="stylesheet" href="/css/bootstrap-4.3.1.min.css">
        <link rel="stylesheet" href="/css/font-awesome-4.7.0.min.css">
        <link rel="stylesheet" href="/css/clean-blog-5.0.4.min.css">
        <link rel="stylesheet" href="/css/custom.css">
        {{{block "stylesheets"}}}
        {{#if config.site.analytics}}
            <!-- Matomo -->
            <script type="text/javascript">
                var _paq = window._paq || [];
                _paq.push(["trackPageView"]);
                _paq.push(["enableLinkTracking"]);
                (() => {
                    var u="//{{config.site.analytics.domain}}/";
                    _paq.push(["setTrackerUrl", u+"matomo.php"]);
                    _paq.push(["setSiteId", "{{config.site.analytics.siteId}}"]);
                    var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0];
                    g.type="text/javascript"; g.async=true; g.defer=true; g.src=u+"matomo.js"; s.parentNode.insertBefore(g,s);
                })();
            </script>
            <!-- End Matomo Code -->
        {{/if}}
    </head>

    <body>

        <!-- Navigation -->
        <nav class="navbar navbar-expand-sm navbar-light fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img src="/img/sunflower_greens.png" class="d-none d-sm-none d-md-none d-lg-inline d-xl-inline" width="30" height="30"/>
                    <img src="/img/sunflower_dark_greens.png" class="d-sm-inline d-md-inline d-lg-none d-xl-none" width="30" height="30"/>
                    {{{config.site.localization.title}}}
                </a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/kandidat-innen">
                                <span class="fa fa-book"></span> Kandidat*innen
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/wahlprogramm">
                                <span class="fa fa-book"></span> Wahlprogramm
                            </a>
                        </li>
                        {{#if username}}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                    <span class="fa fa-sign-in"></span> {{username}}
                                </a>
                                <div class="dropdown-menu border-0 shadow">
                                    <a class="dropdown-item" href="/bearbeiten">
                                        Bearbeiten
                                    </a>
                                    <a class="dropdown-item" href="/abmelden">
                                        Abmelden
                                    </a>
                                </div>
                            </li>
                        {{else}}
                            <li class="nav-item">
                                <a class="nav-link" href="/anmelden">
                                    <span class="fa fa-sign-in"></span> Intern
                                </a>
                            </li>
                        {{/if}}
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Page Header -->
        <header class="masthead" style="background-image: url('/img/{{headerImage}}')">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 mx-auto">
                        {{{block "heading"}}}
                    </div>
                </div>
            </div>
        </header>

        <!-- Main Content -->
        <div class="container pl-3 pr-3">
            <button class="btn btn-primary btn-sm rounded" id="scrollTopBtn">
                <span class="fa fa-angle-up fa-2x"/>
            </button>

            {{{body}}}
        </div>

        <!-- Footer -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 mx-auto">
                        <p class="copyright text-muted">
                            <a href="https://gitlab.com/depressiveRobot/wahlkampfgruen" target="_blank">Wahlkampfgrün</a> &copy; <a target="_blank" href="http://depressiverobot.com/">Marvin Frommhold</a> und <a target="_blank" href="https://danielgerber.eu">Daniel Gerber</a>
                        </p>
                    </div>
                </div>
            </div>
        </footer>

        <script src="/js/jquery-3.3.1.min.js"></script>
        <script src="/js/bootstrap-4.3.1.min.js"></script>
        <script src="/js/clean-blog-5.0.4.min.js"></script>
        <script src="/js/custom-scroll.js"></script>
        {{{block "scripts"}}}

    </body>

</html>
